/* Pseudo Class */

/* berhubungan dengan link */
.hello:link {
    color: orange;
}

.hello:hover {
    color: green;
    font-family: arial;
    font-size: 20px;
}

.hello:active {
    font-style: italic;   
}

.hello:visited {
    color: red;
}


/* berhubungan dengan posisi elemen */
li:nth-child(even) a {
    color: green;
}

li:nth-child(odd) a:hover {
    color: red;
}

p:last-of-type {
    color: red;
}